<div class="row">
		<ul class="breadcrumb">
  			<li class="active">General Laws</li>
		</ul>
		<h1>General Laws</h1>
		<ul>
		{{#rowg}}
			<li>
			<a class='bodyLink' href='GeneralLaws/Part{{part}}' id="GeneralLaws/Part{{part}}">
				Part {{part}}
			</a>
			</li>
		{{/rowg}}
		</ul>
		</div>
