
		<h1>Session Laws <a href="/api/session" class="btn btn-primary btn-lg active">
  <span class="glyphicon glyphicon-download-alt"></span> Raw JSON (big)
</a></h1>
		<ul>
		{{#rows}}
			<li>
			<a class='bodyLink' href='SessionLaw/Year{{year}}' id="SessionLaw/Year{{year}}">
				Year {{year}}
			</a>
			</li>
		{{/rows}}
		</ul>
